*{
	margin: 0;
	padding: 0;
}

html,body{height:100%}

body{
	margin: 30px;
	font-family: Arial;	
	background:rgba(41,99,205,.5);
}

#page{
	width:100%;
	height:100%;
 	position: absolute;	
	overflow:auto;
}

.mainScreen{
	position: absolute;
}

.mainScreen .frtColumnName{
	position:relative;
	float:top;
	margin: 20px 10px 20px 10px;
}

.mainScreen .firstArea{
	position:relative;
	float:left;
	margin: 20px 10px 20px 10px;
}

.mainScreen .generate{
	position:relative;
	width: 100px;
	float:left;
	margin: 100px 10px 100px 10px;
	text-align:center;
	cursor: pointer;
}

.mainScreen .sencondArea{
	position:relative;
	float:left;
	margin: 20px 20px 20px 20px;
}

