<script type="text/javascript">
snow.ui.registerComponent("mainScreen", 
	{
    parent: "#page",
	unique: true
	}, 
	{
	build: function(){
		var $e = $("#tmpl-mainScreen").render({});
		return $e;
	}, 
	postDisplay: function(){
		var component = this;
		var $element = this.$element;
		
		//default display the createCsv
		snow.ui.display("createCsv");
		
		$element.sTouch(".menu-item",function(){
			var type = $(this).attr("data-obj_type");
			if(type == "xmlType"){
				snow.ui.display("createXml");
			}else{
				snow.ui.display("createCsv");
			} 
		});
		
	}
});

</script>

<script id="tmpl-mainScreen" type="text/html">
	<div id="mainFrame">
		<div id="menu">
			<div class="menu-item" data-obj_type="csvType"><label>Create CSV</label></div>
			<div class="menu-item" data-obj_type="xmlType"><label>Create XML</label></div>
			<div class="menu-item" data-obj_type=""></div>
		</div>
		<div id="mainContent">
			
		</div>
	</div>
</script>
